<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/static/style.css" type="text/css">


{% block body %}


<div class="jumbotron trainly-jumbo">
<h1>Trainly.io</h1>
<h2>Educate yourself.</h2>

	<div class="navbar navbar-default">
		<div class="container-fluid">

		  <ul class="nav navbar-nav">
		    <li><a href="{{ url_for('register_form') }}">Register</a></li>
		    <li><a href="{{ url_for('task_c') }}">My Courses</a></li>
                    <li><a href="{{ url_for('task_d') }}">Enroll in a Course</a></li>
		    <li><a href="{{ url_for('task_e') }}">Course Detail</a></li>
		    <li><a href="{{ url_for('task_f') }}">Complete Material</a></li>
		    <li><a href="{{ url_for('task_g') }}">Course Certificate</a></li>
		    <li><a href="{{ url_for('task_h') }}">My History</a></li>

		  </ul>

		</div>
	</div>


	<div class="navbar navbar-default">
		<div class="container-fluid">

		  <ul class="nav navbar-nav">

		    <li><a href="{{ url_for('report_a') }}">Report: Intro Level Costs</a></li>
		    <li><a href="{{ url_for('report_b') }}">User Transfers by Country</a></li>
		    <li><a href="{{ url_for('report_c') }}">Most Liked Questions</a></li>
		    <li><a href="{{ url_for('report_d') }}">Quiz Grader</a></li>
		    <li><a href="{{ url_for('report_e') }}">Time Spent</a></li>
		    <li><a href="{{ url_for('report_f') }}">Most Popular Visible Questions</a></li>

{% if session['logged_in'] %}
		    <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% else %}
		    <li><a href="{{ url_for('logout') }}">Login</a></li>
{% endif %}
		  </ul>

		</div>
	</div>
</div>

{% endblock %}
