<!DOCTYPE html>
<html>
  <body>
    <header>


{% include 'header.html' %}

    </header>


      <div class="container">
        <h1 class="logo">Admin Tasks</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('register_form') }}">Register</a></li>
            <li><a href="{{ url_for('task_c') }}">Task C</a></li>
            <li><a href="{{ url_for('task_d') }}">Task D</a></li>
            <li><a href="{{ url_for('task_g') }}">Task G</a></li>
            <li><a href="{{ url_for('task_h') }}">Task H</a></li>
            <li><a href="{{ url_for('report_a') }}">Report A</a></li>
            <li><a href="{{ url_for('report_b') }}">Report B</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </nav></strong>
      </div>


  </body>
</html>
