<!DOCTYPE html>
<html>
<head>
<title>MOCMON Usage Report</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $(function() {
        $( ".dtpick" ).datepicker();
    });
</script>
</head>
<body>
<form method="post" action="/register">
  <div>
    {{ form.hidden_tag() }}
  </div>
  <div>
    First Name: {{ form.fname() }}
  </div>
  <div>
    Last Name: {{ form.lname() }}
  </div>
  <div>
    Street: {{ form.street() }}
  </div>
  <div>
    City: {{ form.city() }}
  </div>
  <div>
    Zipcode: {{ form.pcode() }}
  </div>
  <div>
    Country: {{ form.country() }}
  </div>
  <div>
    Email address: {{ form.email() }}
  </div>
  <div>
    Password: {{ form.password() }}
  </div>
  <div>
    {{ form.submit }}
  </div>
</form>
</body>
</html>
