<!DOCTYPE html>
<html>
<head>
<title>MOCMON Usage Report</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $(function() {
        $( ".dtpick" ).datepicker();
    });
</script>
</head>
<body>
<form method="post" action="/register">
  {{ form.hidden_tag() }}
  {{ form.fname() }}
  {{ form.lname() }}
  {{ form.street() }}
  {{ form.city() }}
  {{ form.pcode() }}
  {{ form.country() }}
  {{ form.email() }}
  {{ form.submit }}
</form>
</body>
</html>
