<!DOCTYPE html>
<html>
<head>
<title>User Input</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $(function() {
        $( ".dtpick" ).datepicker();
    });
</script>
</head>
<body>

{% include 'header.html' %}


<form method="post" action="/report_b">
Report B shows the ratio of users transferring interested courses to enrolled courses, 
and enrolled courses to completed courses.
Users must live in the given country. Cities are ordered in descending order.
<p>

  {{ form.hidden_tag() }}
To get report B, enter the name of a country:
  {{ form.Input() }}
  {{ form.submit }}

<p>

<table>
  <tr>
     <th>Country/th>
  </tr>
 
 {% for item in results %}
  <tr>
 {% for value in item %}
    <td>{{value}}</td>
 {% endfor %}
  </tr>
 {% endfor %}
</form>
</body>
</html>
