<!DOCTYPE html>
<html>
<head><title>Total Cost</title>

<body>

{% include 'header.html' %}


<table>

 Report A - Total Cost for students who have enrolled for course __ and also
		pay for the course WHERE course is at 'Intro' level


  <tr>
     <th>Student ID</th>
     <th>Course ID</th>
     <th>Student First Name</th>
     <th>Student Last Name</th>
     <th>Student Cost</th>
  </tr>
 
 {% for item in results %}
  <tr>
 {% for value in item %}
    <td>{{value}}</td>
 {% endfor %}
  </tr>
 {% endfor %}
</body>
</html>  
