<!DOCTYPE html>
<html>
<head><title>Query Result</title>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

table{
    border-spacing: 15px;
}
</style>

<body>
<table style="width:100%">
  <tr>
     <th>Country</th>
     <th>City</th>
     <th>Ratio Interest Enroll</th>
     <th>Ratio Enroll Complete</th>
  </tr>
 
 {% for item in results %}
  <tr>
 {% for value in item %}
    <td>{{value}}</td>
 {% endfor %}
  </tr>
 {% endfor %}
</body>
</html>
