<!DOCTYPE html>
<html>
<head><title>Report B</title>

<body>

{% include 'header.html' %}

<table style="width:100%">
Report B - The ratio of users transferring interested courses to enrolled courses, 
	and enrolled courses to completed courses.
	Users must live in country ___. Cities are ordered in descending order.</th>

  <tr>
     <th>Country</th>
     <th>City</th>
     <th>Ratio Interest Enroll</th>
     <th>Ratio Enroll Complete</th>
  </tr>
 
 {% for item in results %}
  <tr>
 {% for value in item %}
    <td>{{value}}</td>
 {% endfor %}
  </tr>
 {% endfor %}
</body>
</html>
