<!DOCTYPE html>
<html>
<head><title>List of Materials for User in Course</title>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

table{
    border-spacing: 15px;
}
</style>

<body>
<table style="width:100%">
  <tr>
     <th>Student_ID</th>
     <th>FirstName</th>
     <th>LastName</th>
     <th>CourseName</th>
     <th>MaterialName</th> 
     <th>MaterialID</th>
     <th>CompleteTime</th>
     <th>Status</th>
  </tr>
 
 {% for item in results %}
  <tr>
 {% for value in item %}
    <td>{{value}}</td>
 {% endfor %}
  </tr>
 {% endfor %}
</body>
</html>  
