<!DOCTYPE html>
<html>
<head><title>List of Materials for User in Course</title>


<body>

{% include 'header.html' %}

<table style="width:100%">
  <tr>
     <th>Student_ID</th>
     <th>FirstName</th>
     <th>LastName</th>
     <th>CourseName</th>
     <th>MaterialName</th> 
     <th>MaterialID</th>
     <th>CompleteTime</th>
     <th>Status</th>
  </tr>

 {% for item in results %}
  <tr>
 {% for value in item %}
    <td>{{value}}</td>
 {% endfor %}
  </tr>
 {% endfor %}

<p>
</body>
</html>  
