<!DOCTYPE html>
<html>
<head><title>Account History</title>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

table{
    border-spacing: 15px;
}
</style>

<body>

{% include 'header.html' %}

<table style="width:100%">
  <tr>
     <th> Account history for User ___ </th>
  </tr>
  <tr>
     <th>Date</th>
     <th>Action</th>
     <th>Payment Confirmation</th>
     <th>Course Title</th>
     <th>Course Cost</th>
  </tr>
 
 {% for item in results %}
  <tr>
 {% for value in item %}
    <td>{{value}}</td>
 {% endfor %}
  </tr>
 {% endfor %}
</body>
</html>  
